.Weather {
  font-family: arial, sans-serif;
  border: 1px solid rgb(195, 140, 202);
  box-shadow: 2px 2px 2px rgb(105, 69, 94, 0.5);
  padding: 30px;
  border-radius: 4px;
  color: rgb(105, 69, 94);
}

.Weather form {
  margin-bottom: 20px;
}
.Weather input {
  border: 1px solid rgb(195, 140, 202);
}
.btn {
  background: rgb(195, 140, 202);
  color: white;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  color: rgb(105, 69, 94);
  margin-right: 10px;
  margin-top: -5px;
}

.Weather .temperature {
  margin-left: -80px;
  font-weight: 400;
  color: rgb(105, 69, 94);
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: rgb(105, 69, 94);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
  margin-left: 5px;
}

.Weather .unit a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .Weather {
    position: relative;
    text-align: center;
  }
  .Weather form {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-right: 10px;
  }
  .Weather .col-4 {
    position: relative;
    margin: auto;
    padding-left: 110px;
  }
}
